.additional-item {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 14px;

  padding-top: 12px;
  padding-bottom: 18px;

  border-bottom: 1px solid var(--grey-basic);

  &:first-child {
    border-top: 1px solid var(--grey-basic);
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.additional-item__name {
  margin: 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.additional-item__details {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;

  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

.additional-item__size {
  padding: 0;
}

.additional-item__price {
  padding: 0;

  text-align: right;
}

.additional-item__button {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
