.additional-item {
  display: grid;
  grid-template-columns: 1fr;
}

.additional-item__name {
  margin: 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.additional-item__details {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
}
