.button {
  padding-top: 11px;
  padding-right: 44px;
  padding-bottom: 11px;
  padding-left: 44px;

  line-height: 18px;
  color: var(--white-basic);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: var(--green-basic);

  &--supplementary {
    color: var(--grey-dark);

    background-color: var(--grey-extra-light);
  }

  &--submit {
    font: inherit;
    color: var(--white-basic);

    border: none;
  }

  &:hover,
  &:focus {
    background-color: var(--green-semi-dark);
  }

  &:active {
    color: var(--white-transparent-30);

    background-color: var(--green-semi-dark);
  }

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-right: 27px;
    padding-bottom: 27px;
    padding-left: 26px;

    font-size: 20px;
    line-height: 0;
  }
}
