.cat-slider {
  position: relative;

  margin: auto;
}

.cat-slider__cat-after {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.cat-slider__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black-basic);
}
