.catalog-sections {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: auto;
}

.catalog-sections__item {
  margin-bottom: 20px;

  width: 280px;
  padding-top: 30px;
  padding-right: 33px;
  padding-bottom: 18px;
  padding-left: 20px;

  background-color: var(--grey-light);
}

.catalog-sections__heading {
  margin: 0;
  padding-left: 69px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: var(--black-basic);
  text-transform: uppercase;
}

.catalog-sections__description {
  font-family: Arial, sans-serif;
  line-height: 18px;
}

.catalog-sections__link {
  font-size: 16px;
  color: var(--black-basic);
  text-transform: uppercase;
  text-decoration: none;
}
