.catalog-sections {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.catalog-sections__item {
  padding-top: 30px;
  padding-right: 33px;
  padding-bottom: 18px;
  padding-left: 20px;

  background-color: var(--grey-extra-light);

  &:not(:last-child) {
    margin-bottom: 23px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    padding-right: 279px;
    padding-bottom: 57px;
    padding-left: 52px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding-right: 56px;
    padding-bottom: 59px;
    margin-bottom: 25px;
  }
}

.catalog-sections__heading {
  position: relative;

  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: var(--black-basic);
  text-transform: uppercase;


  &--slim::before,
  &--pro::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 2px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: var(--green-basic);
  }

  &--slim::after,
  &--pro::after {
    content: "";

    position: absolute;

    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &--slim::after {
    top: -9px;
    left: 9px;

    width: 36px;
    height: 50px;

    background-image: url("../img/icon-cat-slim.svg");
  }

  &--pro::after {
    top: 5px;
    left: -7px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
    padding-left: 0;

    font-size: 36px;
    line-height: 36px;

    &--slim::before,
    &--pro::before {
      top: 15px;
      left: 395px;

      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 4px;
      left: 425px;

      width: 140px;
      height: 192px;
    }

    &--pro::after {
      top: 58px;
      left: 360px;

      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 74px;
    padding-left: 162px;

    &--slim::before,
    &--pro::before {
      top: -32px;
      left: 0;

      width: 100px;
      height: 102px;
    }

    &--slim::after {
      top: -37px;
      left: 15px;

      width: 70px;
      height: 97px;
    }

    &--pro::after {
      top: -11px;
      left: -19px;

      width: 134px;
      height: 56px;
    }
  }
}

.catalog-sections__description {
  margin: 0;
  margin-bottom: 41px;

  font-family: "Arial", sans-serif;
  line-height: 18px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 51px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-max) {
    br {
      display: inline;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 22px;
  }
}

.catalog-sections__link {
  font-size: 16px;
  color: var(--black-basic);
  text-transform: uppercase;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.catalog-sections__slim,
.catalog-sections__pro {
  margin-right: 13px;

  vertical-align: middle;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.catalog-sections__link:hover .catalog-sections__arrow,
.catalog-sections__link:focus .catalog-sections__arrow {
  transform: translateX(3px) scaleX(1.2);
  transition: all 0.5s ease;
}
