.main-heading {
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;

  &--index {
    color: var(--white-basic);

    @media (min-width: @tablet-width) {
      margin-bottom: 40px;
      padding-right: 117px;
      padding-left: 117px;

      font-size: 60px;
      line-height: 60px;
      color: var(--black-basic);
      text-align: left;
    }

    @media (min-width: @desktop-width) {
      padding-right: 830px;
      padding-left: 190px;
    }
  }

  &--catalog {
    margin-bottom: 40px;

    color: var(--black-basic);
    text-align: left;

    @media (min-width: @tablet-width) {
      margin-bottom: 51px;

      font-size: 60px;
      line-height: 60px;
    }
  }

  &--form {
    margin-bottom: 36px;
    margin-left: 0;

    color: var(--black-basic);
    text-align: left;

    @media (min-width: @tablet-width) {
      margin-bottom: 54px;

      font-size: 60px;
      line-height: 60px;
    }
  }
}
