.page-header {
  display: grid;
  grid-template-columns: min-content auto;

  padding-top: 11px;
  padding-bottom: 17px;
}

.page-header__navigation-toggle {
  margin-left: auto;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__main-navigation {
  grid-column-start: 1;
  grid-column-end: 3;

  margin: auto;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
