.page-footer__info-wrapper {
  display: flex;
  flex-direction: column;

  padding-top: 38px;
  padding-bottom: 22px;

  background-color: var(--grey-extra-light);

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    padding-top: 52px;
    padding-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 56px;
  }
}

.page-footer__logo-text {
  @media (max-width: @mobile-width-max) {
    padding-right: 76px;
    padding-bottom: 29px;
    padding-left: 76px;

    border-bottom: 1px solid var(--grey-basic-light);
  }

  @media (min-width: @tablet-width) {
    padding-right: 17px;
  }

  &:hover[href],
  &:focus[href] {
    opacity: 0.8;
  }

  &:active[href] {
    opacity: 0.6;
  }
}
