.page-footer {
  margin: auto;
}

.page-footer__info-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  padding-top: 28px;
  // padding-right: 20px;
  padding-bottom: 22px;
  // padding-left: 19px;

  background-color: var(--grey-extra-light);
}

.page-footer__logo-text {
  margin: auto;
}
