.page {
  --white-basic: #FFFFFF;
  --green-basic: #68B738;
  --green-semi-dark: #5EAA2F;
  --pink-basic: #FF8282;
  --grey-light: #F2F2f2;
  --grey-semi-light: #EBEBEB;
  --grey-basic: #CDCDCD;
  --grey-semi-dark: #666666;
  --grey-dark: #444444;
  --gtey-extra-dark: #222222;

  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--grey-dark);
  background-color: var(--white-basic);
}

/* oswald-regular - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../../fonts/oswaldregular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/oswaldregular.woff') format('woff'), /* Modern Browsers */
}
/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../../fonts/oswaldmedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/oswaldmedium.woff') format('woff'), /* Modern Browsers */
