.product-item {
  position: relative;

  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media (max-width: @mobile-width-max) {
    border-bottom: 1px solid var(--grey-semi-light);

    &:first-child {
      border-top: 1px solid var(--grey-semi-light);
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 324px;
    min-height: 544px;
    padding-right: 36px;
    padding-bottom: 41px;
    padding-left: 36px;

    background-image: linear-gradient(to bottom, var(--white-basic) 21%, var(--grey-extra-light) 21%);
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.product-item__picture-wrapper {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.product-item__picture {
  @media (min-width: @tablet-width) {
    width: 324px;
    height: auto;
    margin-right: -36px;
    margin-bottom: 28px;
    margin-left: -36px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: auto;
    margin-right: -38px;
    margin-bottom: 43px;
    margin-left: -38px;
  }
}

.product-item__name {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;

  margin: 0;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 12px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--grey-extra-dark);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-right: 56px;
    padding-bottom: 18px;
    padding-left: 58px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
  }
}

.product-item__details {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: var(--grey-dark);

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;

    font-size: 16px;
    line-height: 16px;
  }
}

.product-item__detail-name {
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 6px;

    border-bottom: 1px solid var(--grey-basic);
  }
}

.product-item__detail-value {
  text-align: right;
  vertical-align: top;

  @media (min-width: @tablet-width) {
    padding-bottom: 6px;

    border-bottom: 1px solid var(--grey-basic);

    &--taste,
    &--price {
      padding-top: 6px;
    }
  }
}

.product-item__button {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;

  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    align-self: center;

    margin-bottom: 0;
  }
}
