.product-catalog__list {
  display: grid;
  grid-template-columns: 1fr;

  .reset-list();

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 26px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 29px;

    padding-right: 70px;
    padding-left: 70px;
  }
}
