.product-catalog {
  margin: auto;
}

.product-catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 19px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.product-catalog__show-more {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: auto;
}

.product-catalog__show-next {
  width: 30px;
  height: 30px;
  margin: auto;

  background-image: url("../img/icon-plus-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.product-catalog__show-more-heading {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black-light);
  text-align: center;
}

.product-catalog__show-more-text {
  margin: 0;

  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}




