.questionnaire {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.questionnaire__fieldset--cat,
.questionnaire__fieldset--aim {
  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.questionnaire__fieldset--owner,
.questionnaire__fieldset--comment,
.questionnaire__fieldset--additional {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.questionnaire__list {
  .reset-list();
}

.questionnaire__list--owner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.questionnaire__list--additional {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
  grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.questionnaire__fieldset {
  border: none;
}

.questionnaire__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.questionnaire__input {
  font: inherit;
  text-transform: uppercase;
  color: var(--grey-dark);

  &::placeholder {
    color: var(--greydark);
  }
}

.questionnaire__heading {
  font-size: 24px;
  line-height: 26px;
  color: var(--black-basic);

  &--comment {
    display: block;
  }
}

.questionnaire__hint {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--black-basic);
  text-align: center;
}
