.real-stats {
  margin-bottom: 38px;
}

.real-stats__list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 31px;
  row-gap: 34px;

  .reset-list();

  @media (min-width: @tablet-width) and (max-width: @tablet-width-max) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.real-stats__item {
  position: relative;

  text-align: center;
  border: 1px solid var(--grey-basic);
}

.real-stats__item--weight {
  padding-top: 13px;
  padding-right: 35px;
  padding-bottom: 16px;
  padding-left: 35px;
}

.real-stats__item--days {
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 21px;
}

.real-stats__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--black-basic);
}

.real-stats__stat {
  position: absolute;
  top: 47px;
  right: 18px;

  display: inline-block;

  width: 87px;
  padding-right: 5px;
  padding-left: 5px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;

  background-color: var(--grey-light);
}

.real-stats__expenses {
  grid-column-start: 1;
  grid-column-end: 3;

  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
