.real-example {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: auto;
  padding-top: 27px;
  padding-right: 21px;
  padding-bottom: 31px;
  padding-left: 20px;

  background-color: var(--grey-light);
}

.real-example__heading {
  margin: 0;

  .heading-2-font;
}

.real-example__description {
  margin: 0;

  .description-font;
}

