.show-more {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding-top: 23px;
  padding-bottom: 24px;

  @media (max-width: @mobile-width-max) {
    border-bottom: 1px solid var(--grey-semi-light);
  }

  @media (min-width: @tablet-width) {
    align-self: end;
    justify-self: center;

    width: 324px;
    margin: 0;
    padding-top: 50px;
    padding-right: 37px;
    padding-bottom: 33px;
    padding-left: 38px;

    border: 2px solid var(--grey-extra-light);
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 36px;
    padding-left: 25px;
  }
}

.show-more__next {
  margin: auto;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
    width: 60px;
    height: 60px;
  }
}

.show-more__icon {
  fill: var(--grey-basic-light);

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.show-more__heading {
  margin: 0;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black-light);
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
    padding-right: 55px;
    padding-left: 55px;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.show-more__text {
  margin: 0;
  margin-bottom: 21px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 86px;
    padding-right: 38px;
    padding-left: 38px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 85px;
    padding-right: 0;
    padding-left: 0;
  }
}

.show-more__all {
  @media (min-width: @tablet-width) {
    justify-self: flex-end;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
  }
}
