.show-more {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: auto;
}

.show-more__next {
  width: 30px;
  height: 30px;
  margin: auto;

  background-image: url("../img/icon-plus-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.show-more__heading {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black-light);
  text-align: center;
}

.show-more__text {
  margin: 0;

  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}
