.site-navigation {
  display: flex;
  flex-direction: column;

  width: 100%;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--black-basic);
  text-transform: uppercase;
  text-align: center;

  .reset-list();

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.site-navigation__item {
  @media (max-width: @mobile-width-max) {
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 21px;
    padding-bottom: 24px;

    border-top: 1px solid var(--grey-light-darker);

    &:last-child {
      border-bottom: 1px solid var(--grey-light-darker);
    }
  }
}

.site-navigation__link {
  .reset-link();

  &:hover,
  &:focus {
    color: var(--black-transparent-60);
  }

  &:active {
    color: var(--black-transparent-30);
  }

  @media (min-width: @tablet-width) {
    &:not([href]) {
      border-bottom: 2px solid var(--green-basic);
    }
  }
}
