.site-navigation {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--black-basic);
  text-transform: uppercase;
  text-align: center;

  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}
