.social {
  margin: auto;
}

.social__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social__item--vk {
  width: 23px;
  height: 16px;

  background-image: url(../img/icon-vk.svg);
}

.social__item--instagram {
  width: 16px;
  height: 16px;

  background-image: url(../img/icon-insta.svg);
}

.social__item--facebook {
  width: 22px;
  height: 22px;

  background-image: url(../img/icon-fb.svg);
}
