.social {
  margin: auto;
}

.social__list {
  display: flex;
  flex-wrap: wrap;

  .reset-list();
}

.social__item {
  background-position: 0 0;
  background-repeat: no-repeat;

  &--vk {
    width: 23px;
    height: 16px;

    background-image: url(../img/icon-vk.svg);
  }

  &--instagram {
    width: 16px;
    height: 16px;

    background-image: url(../img/icon-insta.svg);
  }

  &--facebook {
    width: 22px;
    height: 22px;

    background-image: url(../img/icon-fb.svg);
  }
}
